git+git://github.com/AllenInstitute/All-active-Workflow@master#egg=ateamopt
git+git://github.com/anirban6908/BluePyOpt@speedup_x#egg=bluepyopt
-e git+git://github.com/AllenInstitute/All-active-Manuscript@master#egg=man_opt
seaborn==0.9.0
numpy==1.22.0
matplotlib==3.0.2
scipy==1.4.1
statsmodels==0.10.1
scikit-learn==0.23.2
umap-learn
ipykernel==5.1.0
pandas==1.1.0
neurom==1.4.13
bokeh==2.1.1
feather-format==0.4.0
allensdk
floweaver
ipysankeywidget
bluepyopt
black
selenium
neuron
